table {
    font-family: "Inter", sans-serif;
}

table thead {
    top: 0;
    position: sticky;
}

table thead th:first-child {
    position: sticky;
    left: 0;
}

table tbody tr,
table thead tr {
    position: relative;
}

table tbody th {
    position: sticky;
    left: 0;
}
